header {
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo-nome {
    display: flex;
    align-items: center;
    gap: 15px;
}

#icone {
    font-size: 40px;
}

.logo-nome h3 {
    font-size: 1.4em;
}

.logo-nome h3 a {
    border-radius: 10px;
    color: black;
    padding: 6px;
    text-decoration: none;
    transition: font-size 0.3s;
}

.logo-nome h3 a:hover {
    font-size: 1.08em;
    background-color: #f5f7fa;
}

nav a {
    border-radius: 10px;
    color: black;
    margin-left: 25px;
    padding: 6px;
    text-decoration: none;
    transition: all 0.3s;
}

nav a:hover {
    font-size: 1.08em;
    background-color: #f5f7fa;
}