header {
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding: 10px;
}

header > * {
    margin: 10px;
}

#icone {
    font-size: 40px;
}

header h3 a {
    color: black;
    text-decoration: none;
    transition: font-size 0.2s;
}

header h3 a:hover {
    font-size: 1.08em;
}

nav a {
    font-size: 1.05em;
    border-radius: 3px;
    color: black;
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;
    transition: all 0.2s;
}

nav a:hover {
    font-size: 1.08em;
    background-color: rgb(243, 242, 242);
}